{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags blog_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title_wrapper%}
{% endblock %}
{% block all_content %}
{% block left_wrapper%}
{% endblock %}

{% block main_wrapper%}

{% endblock %}

{% block right_wrapper%}
{% endblock %}
<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
    <br><br><br>
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2">
					<h3>Show your work with this beautiful theme</h3>
					<h1>Eyecatching Mezzanine Theme</h1>
					<h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
					<h5>More Lorem Ipsum added here too.</h5>
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<img src="{% static "img/ChadAndCaddie.jpg" %}" class="img-responsive" alt="Chad and his Caddie" style="border-radius: 5px; ">
				</div>
			</div><!-- /row -->
            <br><br>
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->
    <style>
    .prom{
        margin: 0 50px 0 50px;
    }
    </style>

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
 					<h4>Donations</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<p><br/><a href="#" class="btn btn-theme">Donate</a></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-trophy"></i>
 					<h4>Membership</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<p><br/><a href="#" class="btn btn-theme">Become a Member</a></p>
 				</div>
 				<div class="col-md-4">
                    <i class="fa fa-heart-o"></i>
 					<h4>Volunteer Work</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<p><br/><a href="#" class="btn btn-theme">Volunteer</a></p>
 				</div>		 				
	 		</div>
	 	</div><! --/container -->
	 </div><! --/service -->

{% endblock %}
